<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Competitive Exams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Crack jee, jee, joint entrance exam, iit, aieee,	all india entrance exams, question papers, model questions, iit model questions, aieee question papers">
    <meta name="description" content="SSC, Competitive Exams, JEE, IIT, Entrance">
    <meta name="author" content="Suhail, shakeer">
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/suh.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/img/favicon.png">    
	{% block extrahead %}	
	{% endblock %}
</head>
<body>
	{% block navtop %}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		 <a class="brand" href="#"> Competitive Exams</a>
		</div>
	</div>
	{% endblock %}
	{% block breadcrumbs %}
	{% endblock %}
	
	
		{% block header %}
		{% endblock %}		
	
		{% block content %}
		{% endblock %}
	
	
	{% block footer %}
		{% include "includes/footer.html" %}
	{% endblock %}
	<script src ="/static/js/jquery.js"></script>
	<script src ="/static/js/bootstrap.min.js"></script>
	{% block extrajavascript %}
	{% endblock %}
</body>
</html>
